<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dino Detonation</title>

    <link href="/css/styles.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/lobby.js"></script>
    <script src="/js/room.js"></script>
  </head>

  <body>
    <article id="lobby-view" class="view">
      <div class="row">
        <div class="col">
          <label>New room:
            <input type="text" id="room-name" />
          </label>
          <button id="create-room">Create room</button>
        </div>

        <div class="col">
          <label>User name:
            <input type="text" id="user-name" />
          </label>
          <button id="login">Log In</button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>Rooms</h2>
          <table id="room-list">
            <tr>
              <th>Name</th>
              <th>Users</th>
            </tr>
          </table>
        </div>

        <div class="col">
          <h2>Users</h2>
          <ul id="user-list"></ul>
        </div>
      </div>
    </article>

    <article id="room-view" class="view">
      <div class="row">
        <div class="col">
          <button id="leave-room">Leave room</button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h2>Players</h2>
        </div>

        <div class="col">
          <h2>Options</h2>
        </div>
      </div>
    </article>

    <article id="game-view" class="view">
      <div>
      </div>
    </article>

    <script src="/js/app.js"></script>
  </body>
</html>
