<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Dino Detonation</title>

    <link href="/css/styles.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/js/lobby.js"></script>
    <script src="/js/room.js"></script>
  </head>

  <body>
    <div id="lobby">
      <div>
        <label>User name:
          <input type="text" id="userName" placeholder="Anonymous" />
        </label>
      </div>

      <table id="roomList">
        <h2>Rooms</h2>
        <thead>
          <th>Room</th>
        </thead>
      </table>

      <div>
        <h3>Create a new room</h3>
        <label>Room name:
          <input type="text" id="roomName" placeholder="New Room" />
        </label>
        <button onclick="lobby.addRoom()">Add room</button>
      </div>
    </div>

    <div id="room">
      <div>
      </div>
    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
