html {
  background-color: #333;
  color: #eee;
  font-family: sans-serif;
}

body {
  padding: 0;
  font-size: 105%;
}

a {
  color: #de3;
}

th,
td {
  min-width: 10em;
  text-align: left;
}


.row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.col {
  flex-basis: 50%;
  flex-grow: 1;
}

.local {
  color: #ff5;
  font-weight: bold;
}

.visible {
  display: block !important;
}



.view {
  border-top: 2px solid #a55;
}

#lobby-view {
  /* display: none; */
}

#room-view {
  /* display: none; */
}

#game-view {
  display: none;
}
